# ROS2 and Python build files
build/
install/
log/
__pycache__/
*.pyc
*.pyo

# VSCode
.vscode/
.cursorrules
.cursorignore

# macOS
.DS_Store

# Python virtual environments
venv/
.env/

# Logs and CSVs
*.csv
*.log
/tmp/
